.mario {
    background-image: url("https://i.pinimg.com/originals/bb/7f/fb/bb7ffbba483facaac98d15d1da923de8.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.ground {
    background-image: url("https://art.pixilart.com/443d1dd72cf1b89.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.goomba {
    background-image: url("https://toppng.com/uploads/preview/oomba-8-bit-goomba-11562923680chnjskwjpc.png");
    /* background-image: url("https://static.wikia.nocookie.net/stabyourself/images/7/71/Anigoomba.gif/revision/latest/top-crop/width/360/height/360?cb=20150107031425"); */
    background-repeat: no-repeat;
    background-size: contain;
}

.points-block {
    background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/bb9132fd5d4af2a.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.div-container {
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;

}


.div-container div{
    border: 1px solid grey;
    height: 10%;
    width: 10%;
  }

